* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;

	background: transparent;

	font-family: inherit;

	text-decoration: none;
}

ol,
ul,
li {
	list-style: none;
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}

button,
a {
	cursor: pointer;
	color: inherit;
}

textarea {
	resize: none;
}

button,
input,
textarea,
select {
	appearance: none !important;
	-webkit-appearance: none !important;
	border-radius: 0;
}

/* #root {
    display: grid;
    gap: 10px;

    
    height: 100vh;

    @media screen and (max-width: 300px) {
        grid-template-columns: auto;
    }

    @media screen and (min-width: 301px) and (max-width: 600px) {
        grid-template-columns: auto auto;
    }

    @media screen and (min-width: 601px) and (max-width: 900px) {
        grid-template-columns: repeat(3, auto);
    }

    @media screen and (min-width: 901px) and (max-width: 1200px) {
        grid-template-columns: repeat(4, auto);
    }

    @media screen and (max-width: 1201px) {
        grid-template-columns: repeat(4, auto);
    }
    div {
        padding: 10px;
        font-size: 20px;
        background-color: #14141d;
        border: 2px solid yellow;
    }
} */

.card {
	width: -webkit-fit-content;
	height: 60px;
	background: linear-gradient(
		90deg,
		rgba(243, 226, 220, 1) 0%,
		rgba(243, 226, 220, 1) 48%,
		rgba(217, 170, 105, 1) 52%,
		rgba(217, 170, 105, 1) 100%
	);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 50px;
	margin: 10px;
	padding-right: 5px;

	border-radius: 20px 0;
	box-shadow: 2px 2px 5px black;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.card3 {
	width: -webkit-fit-content;
	height: 60px;
	background: linear-gradient(
		90deg,
		rgb(194, 231, 185) 0%,
		rgba(243, 226, 220, 1) 48%,
		rgb(16, 163, 41) 52%,
		rgb(6, 99, 13) 100%
	);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 50px;
	margin: 10px;
	padding-right: 5px;

	border-radius: 20px 0;
	box-shadow: 2px 2px 5px black;
}

input,
button {
	width: 50px;
	height: 25px;
	margin-left: 5px;

	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
}

input:hover {
	border: 2px solid black;
}

input:focus {
	padding: 10px;
	border: 2px solid rgb(48, 107, 184);
}

button {
	background-color: rgb(49, 173, 55);
	font-weight: 800;
}

button:hover {
	background-color: rgb(21, 141, 141);
	color: white;
}

button:active {
	color: white;
}

div.msg {
	background-color: red;
	color: white;
	font-size: 0.8em;
}
